{% extends 'base.html.twig' %}

{% block title %}Pixels Eats{% endblock %}

{% block stylesheets %}
    <style>
        .orange {
            color: #FF5023 !important;
            border-color: #FF5023 !important;
        }
    </style>

    {{ parent() }}
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid pl-5" style="margin-left: 4em; margin-right: 4em;">
            {% if configuracion.logoUrl %}
                <img src="{{ configuracion.logoUrl|e }}" alt="..." style="width: 14%;">
            {% else %}
                <a class="navbar-brand" href="#">{{ configuracion.nombreNegocio|e }}</a>
            {% endif %}
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fa-solid fa-location-dot"></i> {{ configuracion.direccion|upper }}<br><i class="fa-solid fa-clock"></i> {{ configuracion.horariosDeAtencion|upper }}</li>
                <li class="list-group-item"><i class="fa-solid fa-phone"></i> {{ configuracion.telefono|upper }}<br><i class="fa-solid fa-envelope"></i> {{ configuracion.email|upper }}</li>
                <li class="list-group-item"><strong>NUESTROS CANALES <br>DE CONTACTO</strong></li>
                <li class="list-group-item">
                    <a href="{{ configuracion.whatsappUrl|e }}" class="btn btn-light btn-lg shadow"><i class="fa-brands fa-whatsapp"></i></a>
                    {% if configuracion.facebookUrl %}<a href="{{ configuracion.facebookUrl|e }}" class="btn btn-light btn-lg shadow"><i class="fa-brands fa-facebook"></i></a>{% endif %}
                    {% if configuracion.instagramUrl %}<a href="{{ configuracion.instagramUrl|e }}" class="btn btn-light btn-lg shadow"><i class="fa-brands fa-instagram"></i></a>{% endif %}
                </li>
            </ul>
        </div>
    </nav>

    {% if configuracion.bannerUrl %}
        <img src="{{ configuracion.bannerUrl|e }}" alt="..." style="width: 100%; max-height: 34em; object-fit: cover;">
    {% else %}
        <img src="https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?cs=srgb&dl=pexels-apgpotr-683039.jpg&fm=jpg" alt="..." style="width: 100%; max-height: 34em; object-fit: cover;">
    {% endif %}

    <div class="container-fluid p-5" style="margin-top: -14em;">
        <div class="card shadow pt-4">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <div class="container">

                            {# <div class="input-group">
                                <div class="input-group-text shadow"><i class="fa-solid fa-search"></i></div>
                                <input type="text" class="form-control shadow" id="specificSizeInputGroupUsername" placeholder="buscar producto por nombre">
                            </div> #}

                            <div class="list-group list-group-horizontal d-flex flex-wrap gap-2 mt-4">
                                {% for categoria in categorias %}
                                    <a href="#{{ categoria.nombre|lower }}" class="btn btn-light shadow">{{ categoria.nombre|upper }}</a>
                                {% endfor %}
                            </div><br>

                            <hr><br>

                            {% for categoria in categorias  %}

                                {% if categoria.productos|length > 0 %}
                                    <h6 id="#{{ categoria.nombre|lower }}"><strong>{{ categoria.nombre|upper }}</strong></h6>

                                    <div class="row">
                                        {% set productos = categoria.productos %}
                                        {% for producto in productos %}
                                            <div class="col-6 mb-4">
                                                <div class="card shadow">
                                                    <div class="card-body">
                                                        <h6>{{ producto.nombre|e }}<h6>
                                                        {% if producto.descripcion %}
                                                            <p class="text-secondary">Café con leche, jugo de naranja exprimido, 2 facturas o 2 medialunas</p>
                                                        {% endif %}
                                                        <button type="button" class="btn btn-outline-warning btn-sm disabled orange" aria-disabled="true"><strong><i class="fa-solid fa-store"></i> ${{ producto.precio|e }}</strong></button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div><br>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary"><strong>© 2024 Pixels Studio, Inc.</strong></p>

            <img src="logo.png" alt="..." style="width: 8em;">

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="https://www.instagram.com/pixels.studio24/" class="nav-link px-2 text-body-secondary">Visitar Web</a></li>
            </ul>
        </footer>
    </div>

{% endblock %}